body {
    background-color: #212121;
    letter-spacing: 1;
    font-family: Verdana, sans-serif;
    font-size: 18px;
    color: #fff;
    margin: auto;
    padding: 0;
}

#page_wrapper{
  
    margin: auto;
    border: 3px solid green;
    padding: 10px;
    width: 1600px;
}

#page{
    position: relative;;
    background-color:#171717;
    /* min-width:1600px;
    left: -50%;
    top: -14px; */
    margin:auto;    
}

#hero_banner{
    min-height: 756px;
}

#search_bar {
    position: relative;
    width: 676px;
    height: 46px;
    top: 570px;
    left: 460px;
    background-color: white;
}

#search_bar p{
    margin-left: 16px;
    margin-top: 14px;
    color: black;    
}


ul.menu {
    float: right;
}

ul.menu li {
    height: 40px;
    display: inline;
    float: left;
    padding-right: 20px;

}

.menu_row {
    display: inline;
    font-weight: 800;
}

#super_menu { 
    position: relative;
    float: right;
    top: 0px;
    text-transform: uppercase;
    right: 150px;
    font-size: 80%;
}

#sub_menu {
    position: relative;
    float: right;
    top: 100px;
}

#mid_header{

}

#mid_subheader{
    
}